{{#each article}}
<div class="panel panel-default panel-info">
	<div class="panel-heading">
		<a href="{{link}}" target="_blank"><p class="panel-title ">{{headline}}</p></a>
	</div>
	<div class="panel-body">
		<p class="">{{summary}}</p>
		<form action="/save" method="post">
			<input type="hidden" name="headline" value="{{headline}}">
			<input type="hidden" name="link" value="{{link}}">
			<input type="hidden" name="summary" value="{{summary}}">
			<button class="pull-right"type="submit">Save</button>
		</form>
	</div>
</div>
{{/each}}
