{{#each article}}
<div class="panel panel-default panel-info">
	<div class="panel-heading">
		<a href="{{link}}" target="_blank"><p class="panel-title ">{{headline}}</p></a>
	</div>
	<div class="panel-body">
		<p class="">{{summary}}</p>

		<div>
		<form action="/comment/{{_id}}" method="post">
			<input type="hidden" name="headline" value="{{headline}}">
			<input type="hidden" name="link" value="{{link}}">
			<input type="hidden" name="summary" value="{{summary}}">
			<input type="text" name="comment" value="">
			<button class=""type="submit">Save comment</button>
		</form>
		<form action="/populated/{{_id}}" method="get">
			<button class="primary" type="submit">View comments</button>
		</form> 
		</div>
	</div>
</div>
{{/each}}
